---
layout: base
---

{% include header.html type="page" %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
  body {  
    font-family:sans-serif;
    font-size:62.5%;
    font-weight:400;
    line-height:1.15;
    color:#12121c;
    text-align:left;
  }  
* { 
    box-sizing: border-box;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    font-family: Open Sans,sans-serif; 
    width: 100%; 
    color: #12121c;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

html { 
    -webkit-font-smoothing: antialiased; 
    font-size: 62.5%;
} 

section { 
    display: block;
} 

.blue { 
    background-color: #279eca;
} 

.m-image-text { 
    position: relative; 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 768px){ 
  .m-image-text { 
    flex-direction: row;
  } 

  .m-image-text.m-image-text--swapped { 
    display: flex; 
    flex-flow: row-reverse nowrap;
  } 
}     

*,:after,:before { 
    box-sizing: border-box;
} 

.m-image-text__image-column { 
    width: 100%;
} 

@media (min-width: 768px){ 
  .m-image-text__image-column { 
    width: 50%; 
    height: auto; 
    min-height: 758px;
  } 
}     

.m-image-text__image-column { 
    position: relative; 
    overflow: hidden; 
    height: 324px;
} 

@media (min-width: 768px){ 
  .m-image-text__image-column { 
    height: auto; 
    min-height: 758px;
  } 
}     

.m-image-text__image-column { 
    -webkit-clip-path: polygon(0 0,100% 0,75% 100%,0 100%); 
    clip-path: polygon(0 0,100% 0,75% 100%,0 100%);
} 

@media (min-width: 768px){ 
  .m-image-text.m-image-text--swapped .m-image-text__image-column  { 
    -webkit-clip-path: polygon(25% 0,100% 0,100% 100%,0 100%); 
    clip-path: polygon(25% 0,100% 0,100% 100%,0 100%);
  } 
}     

@media (min-width: 576px){ 
  .m-image-text__image-column:before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    right: auto; 
    bottom: auto; 
    left: 0; 
    z-index: 9; 
    background: #12121c; 
    width: 120%; 
    height: 100%; 
    transform-origin: right bottom; 
    transform: scale(1); 
    overflow: hidden;
  } 
}     

.slidein:before { 
    animation: slidein 4s cubic-bezier(.25,1,.5,1); 
    animation-fill-mode: forwards;
} 

@media (min-width: 768px){ 
  .m-image-text.m-image-text--swapped .m-image-text__image-column::before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    right: auto; 
    bottom: auto; 
    left: 0; 
    z-index: 9; 
    background: #12121c; 
    width: 150%; 
    height: 100%; 
    transform-origin: right bottom; 
    transform: scale(1); 
    overflow: hidden;
  } 

  .m-image-text.m-image-text--swapped .slidein::before { 
    animation: slidein 4s cubic-bezier(.25,1,.5,1); 
    animation-fill-mode: forwards;
  } 
}     

.m-image-text__text-column { 
    width: 100%;
} 

@media (min-width: 768px){ 
  .m-image-text__text-column { 
    width: 50%; 
    height: auto; 
    min-height: 758px;
  } 

  .m-image-text__text-column { 
    display: flex; 
    align-items: center;
  } 
}     

img { 
    border-style: none;
} 

img { 
    vertical-align: middle;
} 

.m-image-text__image-column img  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -o-object-fit: cover; 
    object-fit: cover; 
    width: 100%; 
    height: 100%;
} 

.m-image-text__image-column img  { 
    -webkit-clip-path: polygon(0 0,100% 0,75% 100%,0 100%); 
    clip-path: polygon(0 0,100% 0,75% 100%,0 100%);
} 

@media (min-width: 768px){ 
  .m-image-text.m-image-text--swapped img  { 
    -webkit-clip-path: polygon(25% 0,100% 0,100% 100%,0 100%); 
    clip-path: polygon(25% 0,100% 0,100% 100%,0 100%);
  } 
}     

.container { 
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(20,1fr);
} 

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1200px;
  } 
}     

.m-image-text__inner { 
    grid-column: 3/19; 
    padding: 35px 0 50px;
} 

@media (min-width: 768px){ 
  .m-image-text__inner { 
    padding: 35px 0; 
    grid-column: 3/19;
  } 
}     

@media (min-width: 992px){ 
  .m-image-text__inner { 
    grid-column: 2/13;
  } 
}     

@media (min-width: 768px){ 
  .m-image-text.m-image-text--swapped .m-image-text__inner  { 
    grid-column: 3/19;
  } 
}     

@media (min-width: 992px){ 
  .m-image-text.m-image-text--swapped .m-image-text__inner  { 
    grid-column: 9/19;
  } 
}     

.button-wrapper { 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 768px){ 
  .button-wrapper { 
    flex-direction: row;
  } 
}     

.m-image-text__text + .button-wrapper  { 
    margin-top: 50px;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    margin: 0;
} 

.wysiwyg--full p  { 
    font-size: 1.6rem; 
    font-weight: 300; 
    line-height: 1.5;
} 

@media (min-width: 768px){ 
  .wysiwyg--full p  { 
    line-height: 1.4; 
    font-size: 2.2rem;
  } 
}     

a { 
    color: #007bff; 
    text-decoration: none; 
    background-color: transparent;
} 

a { 
    color: #000;
} 

.button--dark-blue { 
    display: inline-block; 
    font-family: Open Sans,sans-serif; 
    font-size: 1.8rem; 
    font-weight: 700; 
    line-height: 1.1; 
    color: #fff; 
    border: 0; 
    background-color: #12121c; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    transition: box-shadow .42s cubic-bezier(.165,.84,.44,1),color .42s cubic-bezier(.165,.84,.44,1),background .42s cubic-bezier(.165,.84,.44,1); 
    white-space: nowrap; 
    padding: 20px 25px 20.25px; 
    width: auto; 
    border-radius: 25px; 
    cursor: pointer;
} 

@media (min-width: 768px){ 
  .button--dark-blue { 
    padding: 20px 30px 20.2px;
  } 
}     

.button--next { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

@media (min-width: 768px){ 
  .button--next { 
    display: inline-block;
  } 

  .button-wrapper .button  { 
    align-self: center;
  } 
}     

.m-image-text__inner .button:first-child  { 
    align-self: flex-start; 
    margin-bottom: 35px;
} 

@media (min-width: 768px){ 
  .m-image-text__inner .button:first-child  { 
    align-self: center; 
    margin-bottom: 0; 
    margin-right: 25px;
  } 
}     

a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

a:active,a:hover { 
    text-decoration: none; 
    color: #000;
} 

@media (min-width: 768px){ 
  .button--dark-blue:hover { 
    color: #fff; 
    background-color: #212132;
  } 
}     

svg { 
    vertical-align: middle;
} 

svg { 
    overflow: hidden;
} 

.button--dark-blue svg  { 
    fill: #fff;
} 

.button--next svg  { 
    margin-left: 20px; 
    width: 14px; 
    height: 15px;
} 

@media (min-width: 768px){ 
  .button--next svg  { 
    margin-bottom: 2.5px; 
    margin-left: 25px;
  } 
}     



</style>
<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="row">
    <div
      class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    >
      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %} {{ content }} {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %} {% include comments.html %}
    </div>
  </div>
</main>
<section class="m-image-text target m-image-text--swapped blue snipcss-kNKMN" style="margin: 53px">
  <div class="m-image-text__image-column slidein">
      <img width="1500" height="1000" data-src="https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640.jpg" class="lazyautosizes ls-is-cached lazyloaded" alt="Spreker met handen open richting een vermoedelijk publiek, geprojecteerd beeld op de achtergrond" data-aspectratio="1.5" data-sizes="auto" decoding="async" data-srcset="https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640.jpg 1500w, https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640-300x200.jpg 300w, https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640-768x512.jpg 768w" src="https://infi.nl/app/uploads/2024/07/221020%C2%A9AnnelienNijland5640.jpg">
  </div>
  <div class="m-image-text__text-column">
      <div class="container">
          <div class="m-image-text__inner">
              <div class="m-image-text__text wysiwyg--full">
                  <p>Meer weten over wat we voor je kunnen doen met AI, LLM’s en andere moderne technologie? Neem vooral contact op!</p>
              </div>
              <div class="button-wrapper">
                  <a href="https://infi.nl/contact/" class="button button--dark-blue button--next"> Neem contact met ons op <svg aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 30 32">
                          <title>icon_arrow-r</title>
                          <path d="M0 32.037l29.538-13.029v-4.254l-29.538-14.754v7.139l20.347 9.43-20.347 8.359z"></path>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
