---
layout: base
---

{% include header.html type="page" %}

<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="row">
    <div
      class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    >
      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %} {{ content }} {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %} {% include comments.html %}
    </div>
  </div>
</main>
<!-- <section class="m-image-text target m-image-text--swapped blue snipcss-kNKMN" style="margin: 53px">
  <div class="m-image-text__image-column slidein">
      <img width="1500" height="1000" data-src="https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640.jpg" class="lazyautosizes ls-is-cached lazyloaded" alt="Spreker met handen open richting een vermoedelijk publiek, geprojecteerd beeld op de achtergrond" data-aspectratio="1.5" data-sizes="auto" decoding="async" data-srcset="https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640.jpg 1500w, https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640-300x200.jpg 300w, https://infi.nl/app/uploads/2024/07/221020©AnnelienNijland5640-768x512.jpg 768w" src="https://infi.nl/app/uploads/2024/07/221020%C2%A9AnnelienNijland5640.jpg">
  </div>
  <div class="m-image-text__text-column">
      <div class="container">
          <div class="m-image-text__inner">
              <div class="m-image-text__text wysiwyg--full">
                  <p>Meer weten over wat we voor je kunnen doen met AI, LLM’s en andere moderne technologie? Neem vooral contact op!</p>
              </div>
              <div class="button-wrapper">
                  <a href="https://infi.nl/contact/" class="button button--dark-blue button--next"> Neem contact met ons op <svg aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 30 32">
                          <title>icon_arrow-r</title>
                          <path d="M0 32.037l29.538-13.029v-4.254l-29.538-14.754v7.139l20.347 9.43-20.347 8.359z"></path>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section> -->
